@{
    this.ViewBag.Title = "Lockout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@this.ViewBag.Title</title>
</head>
<body>
    <div class="row page-header">
        <h2>
            @this.ViewBag.Title
            <br />
            <small>This account has been locked due to repeated failed log in attempts!</small>
        </h2>
    </div>
    <div>
        <p>Please, contact an administrator for further information, or try again later!</p>
    </div>
</body>
</html>