<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LearningSignalR.DbBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS2016;Initial Catalog=LearningSignalRDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LearningSignalR.DbBuilder.Properties.Settings.DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS2016;Initial Catalog=LearningSignalRDb;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LearningSignalR.DbBuilder.Properties.Settings>
      <setting name="UserLockoutEnabledByDefault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordRequireDigit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordRequireLowercase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordRequireNonLetterOrDigit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordRequireUppercase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordRequiredLength" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UserAccountLockoutMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UserAllowOnlyAlphanumericUserNames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserMaxFailedAccessAttemptsBeforeLockout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UserRequireUniqueEmail" serializeAs="String">
        <value>True</value>
      </setting>
    </LearningSignalR.DbBuilder.Properties.Settings>
  </userSettings>
</configuration>